<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Docs Deploy Dashboard</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/assets/chart.umd.js"></script>

  </head>

  <body>
    {% block content %}{% endblock %}
  </body>
</html>